{include="header"}

<script type="text/javascript">
   function get_modal_pago(id)
   {
      $.ajax({
         type: 'POST',
         url: '{$fsc->url()}',
         dataType: 'html',
         data: 'ajax=TRUE&id='+id,
         success: function(datos) {
            $("#div_editar_pago").html(datos);
            $("#modal_editar_pago").modal('show');
         }
      });
   }
   $(document).ready(function() {
      $("#b_nuevo_pago").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_pago").modal('show');
         document.f_nuevo_pago.nota.focus();
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-11">
         <h2 style="margin-top: 0px;">
            Pagos
            <a href="#" id="b_nuevo_pago" class="btn btn-xs btn-default">
               <span class="glyphicon glyphicon-plus"></span>
            </a>
         </h2>
      </div>
      <div class="col-sm-1 text-right">
         <a href="{$fsc->url()}" class="btn btn-sm btn-default" title="recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
      </div>
   </div>
</div>

<ul class="nav nav-tabs">
   <li role="presentation"{if="!$fsc->tipo"} class="active"{/if}>
      <a href="{$fsc->url()}">Todos</a>
   </li>
   <li role="presentation"{if="$fsc->tipo=='entradas'"} class="active"{/if}>
      <a href="{$fsc->url()}&tipo=entradas">
         <span class="glyphicon glyphicon-import"></span> &nbsp; Entradas
      </a>
   </li>
   <li role="presentation"{if="$fsc->tipo=='salidas'"} class="active"{/if}>
      <a href="{$fsc->url()}&tipo=salidas">
         <span class="glyphicon glyphicon-export"></span> &nbsp; Salidas
      </a>
   </li>
</ul>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Fecha</th>
            <th class="text-left">Documento</th>
            <th class="text-left">Nota</th>
            <th class="text-right">Importe</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->importe<=0"} bg-warning{/if}" href="#" onclick="get_modal_pago('{$value->id}')">
         <td>{$value->fecha}</td>
         <td>{$value->fase}</td>
         <td>{if="$value->nota==''"}-{else}{$value->nota}{/if}</td>
         <td class="text-right">{$fsc->show_precio($value->importe)}</td>
      </tr>
      {else}
      <tr>
         <td class="bg-warning" colspan="4">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<form name="f_nuevo_pago" class="form" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_nuevo_pago">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <h4 class="modal-title">Nuevo pago</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Nota:
                  <input type="text" name="nota" class="form-control" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Importe:
                  <input type="text" name="importe" class="form-control" value="0" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Fecha:
                  <input type="text" name="fecha" class="form-control datepicker" value="{$fsc->today()}" autocomplete="off"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

<div id="div_editar_pago"></div>

{include="footer"}